@font-face {
    font-family: "PoiretOne";
    src: url("./PoiretOne-Regular.ttf") format("truetype");
}


* {
    margin: 0;
    padding: 0;
    color: rgb(174, 160, 187);
    font-family: "PoiretOne";
    font-weight: bold;
}

img{
    width:100%;
}

.mza{
    margin:0 auto;
}

.tc{
    text-align: center;
}
.t_box{
    padding-top:1em;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom:1.5em;
}

.gr_con{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;
}